*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.border{
    border: solid 5px lightblue;
    border-top: solid 5px green;
    border-bottom: solid 5px red;
    border-left: solid 5px blue;
    border-right: solid 5px yellow;
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;   
    border-top-style: dashed;
    border-bottom-style: dotted; 
    border-left-style: double;
    outline: solid 5px red;

}
.border{
    /* margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px; */
    margin: 150px;
}
.border{
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px; */
    padding: 20px;
}
.border{
    width: 200px; 
    height: 200px;
    /* max-width:200px;
    max-height:200px; */
      /* min-width:20px;
      min-height:20px; */
      
}